@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, html,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    perspective: 800px;
}

.section-header {
    text-align: center;
    color: #006469;
}

a {
    text-decoration: none;
    color: #006469;
    transition: 1s;
}

a:hover {
    color: #7df9ff;
}

#skills span {
    color: #006469;
    border: 5px solid #7df9ff;
    border-radius: 25px;
    padding: 6px 12px 6px 12px;
    display: inline-block;
    margin: 2px 2px;
    font-size: 0.8rem;
}

header {
    padding: 2% 0 0 0;
    background-color: #006469;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#list-in-line li {
    display: inline;
    margin: 10px;
  }

.progress-custom-color {
    background-color: #7df9ff;
}

.navbar-custom {
    background-color: #006a70e9;
    font-size: 1.2rem;
}

.navbar-custom a {
    color: #fff !important;
    transition: 1s;
}

.navbar-custom a:hover {
    color: #7df9ff !important;
}

#hero {
    background-color: #ffffff7c;
    border-radius: 30px;
    color: #fff;
}

.accordion-custom {
    background-color: transparent !important;
    color: #002e30 !important;
    border: none !important;
}

.accordion-custom:focus {
    background-color: transparent !important;
    color: #002e30 !important;
    box-shadow: none !important;
}

.dark-bg {
    background-color: #006469;
}

.dark-bg h2 {
    color: #fff !important;
}

.dark-bg strong::before {
    background-color: #002e30;
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}

.timeline {
    background-color: #006469;
    color: #fff;
    padding: 30px 20px;
    
}

.timeline ul {
    list-style-type: none;
    border-left: 5px solid #fff;
    padding: 10px 5px;
}

.timeline ul li {
    padding: 20px 20px;
    position: relative;
    transition: .5s;
}

.timeline ul li span {
    color: #006469;
    display: inline-block;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 15px;
    text-align: center;
}

.timeline ul li .content h3 {
    color: #7df9ff;
    font-size: 17px;
    padding-top: 5px;
}

.timeline ul li .content p {
    padding: 5px 0 15px 0;
    font-size: 15px;
}

.timeline ul li:before {
    position:absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    left: -17px;
    top: 28px;
    transition: .5s;
}

.timeline ul li:hover:before{
    background-color: #7df9ff;
    box-shadow: 0 0 10px 2px #7df9ff;
}

#header-animation {
    position: relative;
    width: 100%;
    height: 30vh;
    background: #006469;
    overflow: hidden;
  }
.wave-animation .air{
    position: absolute;
    margin-top: 130px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/wave.png);
    background-size: 1000px 100px
  }
  .wave-animation .air.air1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  .wave-animation .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  .wave-animation .air.air3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  .wave-animation .air.air4{
    animation: wave2 10s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  @keyframes wave{
    0%{
      background-position-x: 0; 
    }
    100%{
      background-position-x: 1000px; 
    }
  }
  @keyframes wave2{
    0%{
      background-position-x: 0; 
    }
    100%{
      background-position-x: -1000px; 
    }
  }

strong {
    position: relative;
}

strong::before {
    background-color: #7DF9FF;
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}

.exp-time {
    text-decoration-line: underline;
    text-decoration-color: #7DF9FF;
    text-decoration-style: solid; 
    text-decoration-thickness: 5px;
    margin: 0 10px 0 0;
}

#joke {
    color:#fff;
}

.accordion-body li{
    margin: 0 0 20px 0;
  }

.accordion-button:not(.collapsed)::after {
    filter: invert(84%) sepia(39%) saturate(644%) hue-rotate(151deg) brightness(101%) contrast(105%);
}

footer {
    color:#fff;
}

.joke-info {
    color: #7DF9FF;
}

.text-blue-underline{
    text-decoration-line: underline;
    text-decoration-color: #7DF9FF;
    text-decoration-style: solid; 
    text-decoration-thickness: 5px;
}

.list-margin li{
    margin: 0 0 20px 0;
  }

.card-additional-note {
    color: #006469;
    font-style: italic;
}

.animal-color {
    color: #006469;
    font-size: 1.5rem;
}

.resume-img {
    max-height: 70%; 
}